/*
Over-all design components
*/
.make_it_red{
	color: #982522;
}
/*
End of Over-all design components
*/

/*
Start of Buttons design
*/
.blue_button{
	font-family: Arial,sans-serif;
	font-size: 13px;
	background-color: #4888ef;
	height: 30px;
	border: 1px solid #3079ed;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	cursor:pointer;
}

.blue_button:hover{
	font-family: Arial,sans-serif;
	font-size: 13px;
	background-color: #397eec;
	height: 30px;
	border: 1px solid #2f5bb7;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	cursor:pointer;
}
/*
End of Buttons Design
*/